*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f5f8; 
    color: black;
    line-height: 1.5;
    font-size: 1rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

main {
    min-height: 100vh; 
    display: grid;
    place-items: center;
}

nav {
    background: white;
    box-shadow: 0 2px 15px rgb(103, 134, 172);
}
.nav-center{
    width: 90vw; 
    height: 3rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links {
    display: flex;
}
nav a {
    text-transform: capitalize;
    color: black;
    margin-right: 1rem;
}

nav a:hover {
    color: rgb(95, 169, 144);
}

.container {
    text-align: center;
    background: white;
    padding: 2rem;
    border-radius: 10px;
}

.container h2{
    margin-bottom: 1rem;
}

.btn-hero {
    text-transform: uppercase;
    background: transparent;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(103, 134, 172);
    border: 1px solid rgb(72, 102, 138);
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

.btn-hero:active{
    box-shadow: 0 0 10px rgb(54, 76, 102);
}